@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400; /*regular*/
	src: url("../fonts/rubik/rubik-400.woff2")
	     format("woff2");
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700; /*bold*/
	src: url("../fonts/rubik/rubik-700.woff2")
	     format("woff2");
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 800; /*extra-bold*/
	src: url("../fonts/raleway/raleway-800.woff2")
	     format("woff2");
	font-display: swap;
}

html {
	height: 100%;
}

body {
	margin: 0 auto;
	/*width: 1440px;*/
	display: flex;
	flex-direction: column;
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color: #444;
	background-color: #fff;
}

.visually-hidden {
	display: none;
}

.page-header {
	color: #000;
	background-color: #FFE17F;
	width: 1160px;
	margin: 0 auto;
}

.navigation {
	width: 1040px;
	height: 300px;
	margin: 0 auto;
	
}

.navigation-search-user-container {
	display: flex;
	/*justify-content: space-between;*/
}

.navigation-search {
	width: 517px;
}

.navigation-user-list {
	display: flex;
	margin: 0;
	margin-left: auto;
	padding: 0;
}

/* выровнять позднее */
/*.navigation-user-item:nth-of-type(3) {
	margin-left: 100px; 
}
*/
.navigation-catalog-menu-container {
	display: flex;
	justify-content: space-between;
}

.navigation-menu-list {
	display: flex;
	margin: 0;
	padding: 0;
}

.navigation-user-link {
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	text-decoration: none;
	text-align: center;
	color: #000;
}

.basket-popover {
	color: #fff;
	background-color: #000;
}

.basket-popover-item-link {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
}

.basket-popover-item-button {
	border: none;
	background: none;
	cursor: pointer;
}

.basket-popover-button {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	background-color: #fff;
	align-items: center;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}

.navigation-catalog-link {
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 18px;
	color: #000;
	text-decoration: none;
	text-align: center;
}

.navigation-menu-link {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	line-height: 21px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #000;
	text-align: center;
}

.main-container {
	flex-grow: 1;
}

.main-index {
	background-color: #fff;
}

.main-inner {
	background: #F0F0F0;
}

.page-container {
	width: 1440px;
	margin: 0 auto;
}

.slider {
	width: 1160px;
	margin: 0 auto;
}

.slider-item-header {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000;
}

.slider-link {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	line-height: 21px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-decoration: none;
	color: #000;
	text-align: center;
}

.catalog {
	background-color: #fff;
	width: 1160px;
	margin: 70px auto;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item {
	width: 160px;
	height: 160px;
	color: #000;
	background-color: #FFE17F;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.catalog-item:nth-of-type(1) {
	background-image: url('../images/Vector.svg');
}

.catalog-item:nth-of-type(2) {
	background-position: 50% 100%;
	background-image: url('../images/Vector-1.svg');
}

.catalog-item:nth-of-type(3) {
	background-image: url('../images/Vector-2.svg');
}

.catalog-item:nth-of-type(4) {
	background-image: url('../images/Vector-3.svg');
}

.catalog-item:nth-of-type(5) {
	background-image: url('../images/Vector-4.svg');
}

.catalog-item:nth-of-type(6) {
	background-image: url('../images/Vector-5.svg');
}

.catalog-item-link {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	text-decoration: none;
}

.service-container {
	width: 1160px;
	margin: 0 auto;
}

.service {
	margin: 0 auto;
	display: flex;
	width: 1160px;
}

.service-title {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000;
}

.service-list {
	
}

.service-buttons-link {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	color: #000;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
}

.service-buttons-link-active {
	color: #FFE17F;
}

.service-rare {
	width: 1160px;
  margin: 0 auto 70px;
  padding-top: 71px;
}

.service-rare-text {
	display: block;
	background-color: #F0F0F0;

}

.service-rare-link {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}

.about-and-contacts-container {
	width: 1160px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.about {
	width: 500px;
}

.about-title {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000;
}

.about-list {
	list-style: none;
}

.about-item-text {
	background: url('../images/about-bullet.svg') no-repeat 0 50%;
	padding-left: 26px;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.02em;
	color: #000;
}

.about-link {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}

.contacts {
	width: 532px;
}

.contacts-title {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000;
}

.contacts-subtitle {
	font-size: 24px;
	font-weight: 700;
}

.contacts-address-text {
	font-style: normal;
}

.contacts-phone {
	font-style: normal;
	color: #444;
}

.contacts-button {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}

.subscribe {
	background-color: #F0F0F0;
}

.subscribe-title-text-container {
	width: 1160px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 74px 0 144px;
}

.subscribe-form-forfree-container {
	width: 1160px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.subscribe-title {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000;
	padding: 0;
	margin: 0;
}

.subscribe-text {
	width: 560px;
	padding: 0;
	margin: 0;
}

.subscribe-input::placeholder {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #444;
	}

.subscribe-input {
	background-color: #F0F0F0;
	border: none;
	/*padding-right: 447px;*/
}

.subscribe-button {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	align-items: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000;
	border: none;
	cursor: pointer;
}

.page-footer {
	width: 1440px;
	margin: 0 auto;
	color: #fff;
	background-color: #444;
}

.page-footer-container {
	width: 1160px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.footer-logo-address {
	width: 250px;
	height: 182px;
	margin-top: 62px;
}

.page-footer-address {
	font-size: 16px;
	line-height: 20px;
	font-style: normal;
	margin: 35px 0 64px;
}

.page-footer-stripe {
	width: 80px;
	height: 7px;
	background-color: #FFC700;
}

.menu-and-socials {
	width: 460px;
	margin: 0 auto;
}

.footer-menu-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 137px 0 62px;
	padding: 0;

}

.footer-menu-item:nth-of-type(2) {
	margin: 0 35px;
}

.footer-menu-link {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	line-height: 21px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.footer-socials {
	width: 150px;
	display: flex;
	list-style: none;
	margin: 0 auto 61px;
	padding: 0;
}

.footer-socials-item:nth-of-type(2) {
	margin: 0 15px;
}

.footer-phone-site {
	margin-top: 140px;
}

.page-footer-phone {
	width: 250px;
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	/*background-color: olivedrab;*/
}

.footer-phone {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	font-style: normal;
	color: #fff;
}

.page-footer-academy-logo {
	display: block;
	margin: 0;
	padding: 0;
}

/* main-inner */

.inner-header-title {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
}

.breadcpumbs-link {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000;
	text-decoration: none;
}

.catalog-products {
	background-color: #f0f0f0;
	display: flex;
	width: 1160px;
	margin: 0 auto;
}

.catalog-filter-title {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.02em;
	color: #000;
}

.control {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000;
}

.catalog-products-filter-container {
	width: 320px;
}

.catalog-sort-filter-container {
	display: flex;
	justify-content: space-between;
	width: 840px;
	padding-left: 40px;
	padding-right: 30.5px;
}

.flip-list {
	display: flex;
	margin: 0;
	padding: 0;
}

.catalog-sort-filter {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000;
}

.catalog-filter-button {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000;
	border: none;
	background: none;
	cursor: pointer;
}

.product-card-list-container {
	background-color: #fff;
}

.product-card-list {
	width: 840px;
	padding-top: 70px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.product-card-item {
	width: 360px;
	/*height: 452px;*/
	margin-right: 40px;
}

.product-card-pic {}

.product-card-info {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
	margin-bottom: 44px;
}

.product-card-name {
	/*display: inline-block;*/
	margin: 0;
	padding: 0;
}

.product-card-more-info {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}

.product-card-name {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.02em;
	color: #000;
}

.product-card-price {
	/*font-family: 'Rubik', sans-serif;*/
	/*font-style: normal;*/
	font-weight: 400;
	/*font-size: 18px;*/
	line-height: 21px;
}

.pagination-button-show-more {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000;
	background-color: #fff;
	cursor: pointer;
	display: inline-block;
	/*height: 50px;*/
	/*width: 300px;*/

}

.pagination-button {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000;
	background-color: #EBEBEB;
	cursor: pointer;
	border: none;
}

.pagination {
	background-color: #EBEBEB;
}

.pagination-link {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #444;
	opacity: 0.3;
	text-decoration: none;
}




