@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/rubik/rubik-700.woff2') format("woff2");
	/*src: url('../fonts/rubik');*/
	font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	line-height: 50px;
	font-weight: 800;
	color: #000000;
}
.title-button {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
  color: #000000;
}
.title-button-white {
	color: #ffffff;
}
.subtitle {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.hidden {
  display: none;
}

body {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #444444;
  background-color: #ffffff;
	font-style: normal;
	font-weight: 400;
  margin: 0;
  padding: 0;
}

/*  header  */
.page-header {
  width: 1160px;
  margin: 40px auto 0;
  padding: 0 60px;
  height: 320px;
  background: #FFE17F;
}

.page-header-nav {
  /* margin-top: 40px; */
}

.page-header-search-user-container {
  display: flex;
}

.page-header-logo {
  position: relative;
  top: -21px;
}

.page-header-search {
  display: inline-block;
}

.page-header-link {
  color: #000000;
  text-decoration: none;
}

.compare-bin-container {
  width: 240px;
  margin-left: auto;
}

.page-header-compare-link {
  padding-left: 22px;
  background:
    url('../images/icons/compare.svg') no-repeat left center;
}

.page-header-bin-link {
  padding-left: 22px;
  background:
    url('../images/icons/bin.svg') no-repeat left top 30%;
}

.page-header-bin-goods {
  display: inline-block;
  width: 21px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: -12px;
  margin-left: 18px;
}

.header-catalog-menu-container {
  display: flex;
}

.page-header-catalog-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-header-subcatalog {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-header-catalog-item:not(:first-of-type) {
  margin-left: 63px;
}

.page-header-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-left: auto;
}

.page-header-menu-item:not(:first-of-type) {
  margin-left: 45px;
}

/* slider */
.slider {
  width: 1160px;
  margin: -90px auto 0;
}

.slider-item {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
}

.slider-item-pic-container {
  /* display: block;
  width: 490px;
  height: 490px;
  background-color: #olive; */
}

.slider-item-pic {
  display: block;
  margin-top: -80px;
  margin-left: -40px;
}

.slider-item-info {
  width: 560px;
}

.slider-item-number {
	font-family: 'Rubik', sans-serif;
	font-size: 180px;
	font-weight: 700;
	line-height: 30px;
	font-style: normal;
  display: block;
  color: #ffffff;
  margin-left: auto;
  text-align: right;
}

.slider-item-title {
  margin: 15px 0 29px;
}

.slider-item-text {
  margin: 0 0 61px;
  padding: 0;
}

.yellow-button {
  display: block;
  text-align: center;
  background-color: #FFE17F;
  line-height: 8px;
}

.yellow-button:hover {
  line-height: 21px;
}

.slider-item-button {
  width: 220px;
  margin-bottom: 59px;
}

.slider-item-details {
  display: flex;
}

.title-data-container {
  display: flex;
  flex-direction: column-reverse;
}

.title-data-container:not(:first-of-type) {
  margin-left: 20px;
}

.slider-item-details-title {
  color: #444444 ;
}

.slider-item-details-data {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0 0 12px;
}

.slider-button {
  width: 20px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-prev {
  background:
    url('../images/icons/slider-arrow.svg') no-repeat;
}

.slider-next {
  background:
    url('../images/icons/slider-arrow.svg') no-repeat;
  transform: rotate(180deg);
}

.slider-pagination {
  display: flex;
  padding-left: 0;
  list-style-type: none;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #000000;
  cursor: pointer;
  padding: 0;
}

.slider-pagination-item:not(:first-of-type) {
  margin-left: 20px;
  cursor: none;
}

.slider-pagination-button-current {
  background-color: #000000;
}

/* catalog */
.catalog {
  width: 1160px;
  margin: 0 auto 70px;
}

.catalog-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.catalog-item-link {
  display: block;
  margin: 0;
  padding: 0;
  width: 160px;
  /* height: 253px; */
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-item-title {
  margin: 0;
  padding: 0;
}

.catalog-item-pic {
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
}

.vr {
  background:
    url('../images/icons/vr.svg') center no-repeat,
    rgb(255, 225, 127);
}

.monopod {
  background:
    url('../images/icons/monopod.svg') center bottom no-repeat,
    rgb(255, 225, 127);
}

.camera {
  background:
    url('../images/icons/camera.svg') center no-repeat,
    rgb(255, 225, 127);
}

.bracelet {
  background:
    url('../images/icons/bracelet.svg') center no-repeat,
    rgb(255, 225, 127);
}

.clock {
  background:
    url('../images/icons/clock.svg') center no-repeat,
    rgb(255, 225, 127);
}
.copter {
  background:
    url('../images/icons/copter.svg') center no-repeat,
    rgb(255, 225, 127);
}

/* service */
.service {
  width: 1440px;
  height: 391px;
  margin: 0 auto;
  background:
    linear-gradient( rgb(255, 255, 255), rgb(255, 255, 255) 102px,rgb(240, 240, 240) 102px, rgb(240, 240, 240) 391px);
}

.service-container {
  display: flex;
  width: 1160px;
  height: 319px;
  margin: 0 auto;
  /* align-items: center; */
}

.service-button-container {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-top: 64px;
}

.service-button {
  width: 160px;
  border: none;
  cursor: pointer;
}

.service-button:not(:last-of-type) {
  margin-bottom: 55px;
}

.service-button-current {
  width: 280px;
  line-height: 40px;
  color: #FFE17F;
  background-color: #000000;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 45px !important;
}

.service-vertical {
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.service-list {
  margin: 0 0 0 116px;
  padding: 0;
}

.service-item {
  list-style-type: none;
  width: 694px;
  height: 174px;
  text-align: start;
  padding: 72.5px 0;
}

.service-item:first-of-type {
  background: url('../images/icons/delievery.svg') center right no-repeat;
}

.service-item:nth-of-type(2) {
  background: url('../images/icons/guarantee.svg') center right no-repeat;
}

.service-item:nth-of-type(3) {
  background: url('../images/icons/credit.svg') center right no-repeat;
}

.service-item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.service-item-text {
  width: 480px;
  margin-top: 0;
  color: #444444;
}

/* rare  */
.rare-container {
  width: 1160px;
  margin: 70px auto;
  text-align: center;
}

.rare {
  width: 1160px;
}

.rare-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  height: 100px;
  background-color:#F0F0F0;
  text-decoration: none;
}

.rare-link:focus {
  /* margin: 2px;
  border: 2px solid #AF4FFF; */
}

.rare-link-icon-car {
  width: 125px;
  height: 100px;
  background:
    url('../images/icons/lorry.svg') center / 47px auto no-repeat #FFE17F;
}

.rare-link-icon-info {
width: 40px;
height: 40px;
margin: 0 42.5px;
border-radius: 50%;
  background: url('../images/icons/info.svg') center / auto no-repeat rgba(220, 220, 220, 1);
opacity: 0.5;
}

.about-and-contacts {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.stripe-horizontal {
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about {
  width: 520px;
}

.about-button {
  display: inline-block;
  width: 270px;
}

.contacts {
  width: 532px;
  padding-bottom: 80px;
}

.contacts-button {
  display: inline-block;
  width: 259px;
}

/* subscribe */
.subscribe {
  width: 1440px;
  margin: 0 auto;
  background: #F0F0F0;
}

.subscribe-container {
  width: 1160px;
  height: 421px;
  margin: 0 auto;
}

.service-text-container {
  display: flex;
  justify-content: space-between;
  padding: 74px 0 144px;
}

.subscribe-title {
  margin: 0 0 0;
}

.subscribe-text {
  width: 560px;
  margin: 0;
}

.subscribe-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-form {
  width: 810px;
  margin: 0;
  padding: 0;
  /* background-color: olivedrab; */
}

.subscribe-email {
  width: 547px;
  height: 57px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 3px solid #C4C4C4;
}

.subscribe-email::placeholder {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
  padding-left: 16px;
}

.subscribe-button {
  width: 253px;
  height: 57px;
  margin: 0;
  padding: 0;
  border: 3px solid #C4C4C4;
  cursor: pointer;
}

.subscribe-forfree {
  margin: 0;
  padding: 0 0 0 32px;
  background:
    url('../images/icons/ok-green.svg') center left no-repeat;
}

/* footer */
.page-footer-container {
  width: 1440px;
  margin: 0 auto;
  background: #444444;
}

.page-footer {
  width: 1160px;
  margin: 0 auto;
  padding: 62px 0 61px;
  display: flex;
  justify-content: space-between;
}

.page-footer-logo {
  display: block;
  padding: 0;
  margin-bottom: 30px;
}

.page-footer-address-text {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
  margin: 0 0 64px;
  padding: 0;

}

.yellow-stripe {
  width: 80px;
  height: 7px;
  background: #FFC700;
}

.page-footer-menu-socials {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.page-footer-menu {
  list-style-type: none;
  display: flex;
  margin: 0 0 62px;
  padding: 0;
}

.page-footer-menu-item:not(:last-of-type) {
  margin-right: 35px;
}

.page-footer-socials {
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.page-footer-socials-item:not(:last-of-type) {
  margin-right: 15px;
}

.page-footer-socials-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.telegram {
  background:
    url('../images/icons/telegram.svg') center no-repeat,
    rgba(255, 255, 255, 0.3);
}

.youtube {
  background:
    url('../images/icons/youtube.svg') center no-repeat,
    rgba(255, 255, 255, 0.3);
}

.twitter {
  background:
    url('../images/icons/twitter.svg') center no-repeat,
    rgba(255, 255, 255, 0.3);
}

.page-footer-phone-academy {
  width: 239px;
  /* height: 187px; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.page-footer-phone-link {
  display: block;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 63px;
}

.page-footer-academy-link {
  height: 33px;
}
